* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html{
  background-color: #f6f6f6;
}

@media (max-width: 765px) {
  body,html{
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  }
}

.comm-left, .comm-right {
  background-color: #FFF;
  padding: .3rem;
  border-radius: .3rem;
  border-bottom: 1px solid #eee;
}

.comm-right {
  margin-left: .5rem;
}

.comm-box {
  padding: .3rem;
  border-radius: .3rem;
}

.comm-main {
  margin-top: .5rem;
}
@media (max-width: 765px) {
.comm-main {
  margin-top: 0;
}
}
